@use "@styles/mixins";
@use "@styles/typography";
@use "@styles/colors";

.gallery {
  @include mixins.container;
  @include mixins.flex-center;
  scroll-margin-top: 80px;
  padding-top: 80px;
  flex-direction: column;

  &__title {
    @include typography.font-size(xl);
    text-align: center;
    font-weight: bold;
    margin-top: 80px;
    @include mixins.respond-to(md) {
      @include typography.font-size(1xl);
    }
  }

  &__subtitle {
    @include typography.font-size(xl);
    color: colors.$text-third;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
    @include mixins.respond-to(md) {
      @include typography.font-size(1xl);
    }
  }

  &__text {
    @include typography.font-size(lg);
    text-align: center;
    font-weight: bold;
    color: colors.$text-primary;
    max-width: 600px;
    text-wrap: balance;
    @include mixins.respond-to(md) {
      @include typography.font-size(xl);
    }
  }

  &__subtext {
    @include typography.font-size(lg);
    text-align: center;
    font-weight: bold;
    color: colors.$text-secondary;
    max-width: 600px;
    text-wrap: balance;
    @include mixins.respond-to(md) {
      @include typography.font-size(xl);
    }
  }

  &__main-picture {
    width: 100%;
    height: auto;
    margin-block: 40px;
    border-radius: 20px;
  }

  &__picture {
    border-radius: 10px;
    height: 100%;
    width: 100%;
  }

  &__grid-gallery {
    display: grid;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-block: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  &__main-picture-wrapper {
  }
}
