@use "@styles/colors";
@use "@styles/mixins";

.accordion {
  @include mixins.container;
  max-width: 320px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-block: 40px;
  @include mixins.respond-to(lg) {
    justify-content: center;
    height: 600px;
    max-width: 600px;
  }

  &__item {
    border-radius: 8px;
    width: 100%;
    // background-color: colors.$gray;
    border-bottom: 1px solid colors.$gray;
  }

  &__trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4px;
    text-align: left;
    height: 50px;
    color: colors.$text-primary;
  }

  &__content {
    background-color: colors.$background;
    overflow: hidden;
    color: colors.$text-third;

    &[data-state="open"] {
      animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
    }
    &[data-state="closed"] {
      animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
    }
  }

  &__title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
}

.iconWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.iconOpen {
  display: none;
}

[data-state="open"] .iconOpen {
  display: inline;
}

[data-state="open"] .iconClosed {
  display: none;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
