@use "@styles/mixins";
@use "@styles/typography";
@use "@styles/colors";
@use "@styles/helpers";

.background-image {
  background-image: url("/images/IMG_3145.webp");
  background-size: cover;
  background-position: center;
  filter: blur(1px);
  width: 100%;
}
.hero {
  @include mixins.container;
  scroll-margin-top: 80px;

  &__h1 {
    @include helpers.visually-hidden;
    font-size: large;
  }

  &__text {
    @include mixins.flex-center;
    height: 100dvh;
    flex-direction: column;
  }

  &__title {
    font-family: "glacial-bold";
    text-align: center;
    @include typography.font-size(xl);
    @include mixins.respond-to(2xs) {
      @include typography.font-size(xl);
    }

    @include mixins.respond-to(md) {
      @include typography.font-size(1xl);
    }
    font-weight: bold;
  }

  &__subtitle {
    font-family: "noracle";
    @include typography.font-size(xl);
    color: colors.$text-third;
    text-align: center;
    font-weight: bold;
    @include mixins.respond-to(2xs) {
      @include typography.font-size(xl);
    }
    @include mixins.respond-to(md) {
      @include typography.font-size(1xl);
    }
  }
  &__text2 {
    @include typography.font-size(lg);
    @include helpers.truncate(4);
    text-align: left;
    font-weight: bold;
    max-width: 600px;
    text-wrap: balance;

    @include mixins.respond-to(lg) {
      @include typography.font-size(xl);
    }
  }

  &__subtext {
    @include typography.font-size(lg);
    @include helpers.truncate(5);
    color: colors.$text-third;
    font-weight: bold;
    text-align: left;
    max-width: 600px;
    text-wrap: balance;
    @include mixins.respond-to(lg) {
      @include typography.font-size(xl);
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    margin-block: 40px;
  }
}
