// Colors
$primary: #1e88e5;
$secondary: #ff4081;
$background: #f5f5f5;
$text-primary: #000000;
$text-secondary: #aaa396;
$text-third: #5a5a5a;
$gray: #e6e6e6;
$vanilla: #f1eada;
$dark-green: rgb(0, 59, 54);
$nyanza: rgb(218, 247, 220);
