@font-face {
  font-family: "glacial-bold";
  src: url("/public/fonts/GlacialIndifference-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "glacial-regular";
  src: url("/public/fonts/GlacialIndifference-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "noracle";
  src: url("/public/fonts/Noracle-PKvnm.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
