@use "@styles/mixins";
@use "@styles/colors";

.header {
  @include mixins.flex-center;
  height: 64px;
  width: 100%;
  position: fixed;
  background-color: colors.$background;
  box-shadow: 0px 8px 24px rgba(149, 149, 149, 0.2);

  &__items {
    @include mixins.container;
    @include mixins.flex-center;
    justify-content: space-between;
    width: 100%;
  }

  &__item-wrapper {
    @include mixins.flex-center;
    gap: 15px;
  }

  &__item {
    color: colors.$text-third;
    font-weight: bold;
  }
  &__small-item {
    display: block;
    @include mixins.respond-to(md) {
      display: none;
    }
  }

  &__large-item {
    display: none;
    @include mixins.respond-to(md) {
      display: block;
    }
  }
}
