@use "@styles/mixins";
@use "@styles/colors";
@use "@styles/typography";

.book {
  @include mixins.container;
  @include mixins.flex-center;
  flex-direction: column;
  padding-block: 80px;
  border-top: 1px solid colors.$text-third;
  border-bottom: 1px solid colors.$text-third;
  margin-top: 40px;

  @include mixins.respond-to(md) {
    height: 700px;
  }

  &__title {
    @include typography.font-size(lg);
    font-weight: bold;
  }

  &__subtitle {
    @include typography.font-size(lg);
    color: colors.$text-third;
    text-align: center;
    font-weight: 500;
  }

  &__button {
    background-color: colors.$nyanza;
    border-radius: 18px;
    padding: 8px;
    transition: all 0.5s ease;
    margin-top: 15px;
    color: colors.$text-primary;
  }
}
