@use "@styles/mixins";
@use "@styles/colors";
@use "@styles/typography";

.book {
  @include mixins.container;
  display: flex;
  flex-direction: column;
  padding-block: 80px;
  border-top: 1px solid colors.$text-secondary;
  margin-top: 40px;
  gap: 40px;

  @include mixins.respond-to(md) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 600px;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 500px;
  }

  &__title {
    @include typography.font-size(xl);
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__subtitle {
    @include typography.font-size(lg);
    color: colors.$text-third;
    text-align: left;
    font-weight: 500;
    margin-bottom: 30px;
  }

  &__button {
    background-color: transparent;
    border-radius: 0;
    padding: 16px 36px;
    transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
    color: colors.$dark-green;
    border: 1px solid colors.$dark-green;
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: colors.$dark-green;
      transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
      z-index: -1;
    }

    &:hover {
      color: colors.$background;

      &::before {
        width: 100%;
      }
    }
  }

  &__images {
    flex: 1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;

    @include mixins.respond-to(md) {
      height: 500px;
      justify-content: flex-end;
    }
  }

  &__img_main {
    width: 75%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
    z-index: 1;
  }

  &__img_sub {
    position: absolute;
    width: 45%;
    height: 50%;
    object-fit: cover;
    border-radius: 0;
    bottom: -10%;
    left: 0;
    z-index: 2;
    border: 8px solid colors.$background;

    @include mixins.respond-to(md) {
      left: 5%;
    }
  }
}
